<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.terence.shanbay</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Terence</string>
	<key>description</key>
	<string>Shanbay</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shanbay</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python shanbay.py "{query}"</string>
				<key>subtext</key>
				<string>Shanbay Search</string>
				<key>title</key>
				<string>Shanbay Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3DB57FB0-A294-4C28-89BA-42FFBB59434F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3DB57FB0-A294-4C28-89BA-42FFBB59434F</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>inority.com</string>
</dict>
</plist>
